h2 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic ;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
   
}

#topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2874f0;

}
h6 {
    font-style: italic;
    color: white;
    font-size: medium;
}



#searchbox {
    position: relative;
    display: inline-block;
    justify-self: center;
  }
  
i {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px 0;
}