
{% extends "base.html" %}

{% block start %}
     

  <h1>Django demo</h1>
  <!-- {{people}} -->

  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
          <th>Age</th>
          <th>Can vote?</th>
        </tr>

        {% for stud in people %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{stud.name}}</td>
          <td>{{stud.age}}</td>
          <td>
            {% if stud.age >= 18  %}
            &#128578

            {% else%}
            &#128579

            {% endif %}
          </td>
        </tr>
        
        {% endfor %}
      </table>
      <a href="/contact/"> Contact </a>|
      <a href="/about/"> About</a>

    {% endblock %}