input[type="text"] {
    text-align: right;
    height: 60px;
    font-size: 25px;
}
.head_text{
    // font-family: 'Chela One', cursive;
    // font-family: 'Acme', sans-serif;
    font-family: 'PT Serif', serif;
    color: rgba(0, 0, 0, 0.719);
    text-shadow: 2px 2px 3px rgb(214, 238, 223);
}
.bg_color{
    background-color: rgb(245, 244, 244);
    opacity: 0.5px;

}